
/* Mixins go in here, for info see: http://sass-lang.com/guide

Note: all sass is in the SCSS syntax for the whole project

 */



@function em($target, $context: $base-font-size) {
   
   @if $target == 0 { @return 0 }
   @return $target / $context + 0em;
   
} /* PX to EM */

@mixin rotate($deg){
  transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
}
