/* Variables are stored in this partial and can be then used in any other file, for example:


h1 {
  color: $white;
}


For more info see: http://sass-lang.com/guide

*/


$base-font-size: 16px;


/* Colors */

$white: #ffffff; /* Pure white */ 
$black: #000;
